<div class="card-body pt-1" style="width: 400px;">
  <div (focusout)="focusOutMapSearch()" class="d-md-block d-none">
    <div class="row">
      <div class="form-group col-md-12 m-0 p-0">
        <div class="position-relative">
          <input (focus)="searchAddress($event)" #addressText
                 (input)="searchAddress($event)" class="form-control search shadow-lg "
                 placeholder="جستجوی آدرس منتخب..." name="input-search" type="text">
        </div>
      </div>
    </div>

    <div *ngIf="addressArray.length" class="search-items shadow-sm">
      <ul class="px-2 m-0">
        <li *ngFor="let address of addressArray;let i=index"
            [ngClass]="{'border-top-none': i===0}"
            (click)="selectAddress(address)"
            class="cursor-pointer pt-3 pb-3 px-2">
          {{address.title}}
        </li>
      </ul>
    </div>
  </div>
</div>
